* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #264d73;
  --blue: #4d88ff;
  --grey: #333;
  --lwhite: #f2f2f2;
  --black: #34495e;
  --orange: #ff9933;
  --red: #e74c3c;
  --shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  grid-template-rows: [header] auto [nav] auto;
  grid-auto-rows: auto;
  grid-gap: 1.2rem;
  padding: 1.2rem;
  color: var(--grey);
}

.wrapper > div {
  background-color: var(--lwhite);
  padding: 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top: 3px solid var(--blue);
}

.wrapper h3 {
  font-size: 1.2rem;
  margin-bottom: 0.87rem;
}

.wrapper p {
  color: var(--black);
  margin-bottom: 1.9rem;
}

header {
  text-align: center;
  padding: 0 1.2rem;
  color: var(--lwhite);
  grid-row: header;
}

header h1 {
  font-size: 2rem;
  font-weight: 500;
}

nav {
  padding: 0.5rem;
  background-color: var(--lwhite);
  grid-row: nav;
  border-top: 3px solid var(--blue);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

nav ul {
  list-style: none;
  font-size: 0.95rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

nav li {
  display: inline-block;
  padding: 0.25rem 0;
  text-align: center;
}

.underlined-link {
  --color: var(--blue);
  text-decoration: none;
  color: var(--color);
  position: relative;
}

.underlined-link::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--color);
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  visibility: hidden;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.underlined-link:hover::after {
  -webkit-transform: scaleX(0);
  transform: scaleX(1);
  visibility: visible;
}

.know-more.underlined-link {
  --color: var(--orange);
}

.sidebar .img-container {
  max-width: 200px;
  padding: 0.5rem;
  margin: 0 auto;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1.3rem;
}

.image-content .img-container {
  max-width: 250px;
  margin: 0 auto;
  padding-bottom: 1.2rem;
}

.image-content img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.theme-container {
  padding: 1.2rem 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 0.5rem;
}

.theme-btn {
  text-decoration: none;
  color: var(--color, var(--lwhite));
  background-color: var(--bg, var(--blue));
  padding: 0.3rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 0.5;
}

.theme-btn.active,
.theme-btn:hover {
  opacity: 1;
}

.theme-btn.dark {
  --bg: var(--grey);
}

.theme-btn.light {
  --bg: #ccc;
  --color: var(--black);
}
.bio {
  padding: 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  -ms-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.bio-content-1 .link-container {
  background-color: var(--red);
  padding: 0.5rem 1.5rem;
  margin: 0 -1rem -1rem -1rem;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.link-container .underlined-link {
  --color: var(--lwhite);
}

.bio-content-2 h3 {
  background-color: var(--blue);
  color: var(--lwhite);
  margin: -1rem -1rem 0.87rem -1rem;
  padding: 0.5rem 1.5rem;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;

}

.bio-content-3 {
  border-top: 3px solid var(--blue);
}

@media (min-width: 580px) {
  nav {
    padding: 1rem;
  }
  nav ul {
    font-size: 1.3rem;
  }
  .wrapper {
    grid-template-columns: [sidebar] 4fr [main-content] 7fr;
    grid-template-rows: [header] auto [nav] auto [main-1] auto [main-2] 1fr;
    align-items: flex-start;
  }
  header {
    grid-column: span 2;
  }
  header h1 {
    font-size: 2.3rem;
  }
  nav {
    grid-column: span 2;
  }
  .sidebar-1 {
    grid-row: main-1/ main-2;
    grid-column: sidebar;
  }
  .sidebar-2 {
    grid-row: main-2;
    grid-column: sidebar;
  }
  .main-content {
    grid-row: main-1/ span 2;
    grid-column: main-content;
    grid-template-columns: minmax(min-content, 1fr);
    grid-auto-rows: auto;
  }
}

@media (min-width: 962px) {
  .wrapper {
    grid-template-columns: [left-gutter] 1fr [sidebar] 6fr [main-content] 11fr [right-gutter] 1fr;
  }
  header,
  nav {
    grid-column: sidebar/right-gutter;
  }
  header h1 {
    font-size: 2.3rem;
  }
  .main-content {
    grid-template-columns: [image] 7fr [bio] 8fr;
    grid-template-rows: [content-1] auto [content-2] auto [content-3] auto;
  }
  .bio-content-1 {
    grid-row: content-1/content-2;
    grid-column: bio;
  }
  .bio-content-2 {
    grid-row: content-2/content-3;
    grid-column: bio;
  }
  .bio-content-3 {
    grid-row: content-3;
    grid-column: bio;
  }
  .image-content {
    grid-row: content-1/span 3;
    grid-column: image;
  }
}
