* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #264d73;
}

.wrapper {

  display: grid;
  grid-template-columns: [left-gutter] 1fr [sidebar] 6fr [main-content] 11fr [right-gutter] 1fr;
  grid-template-rows: [header] auto [nav] auto [main-1] 14fr [main-2] 14fr;
  grid-gap: 1.2rem;
}

header {
  text-align: center;
  padding-top: 1.2rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  color: #fff;
  grid-row: header;
  grid-column: sidebar/right-gutter;
}

header h1 {
  font-size: 2.3rem;
  font-weight: 500;
}

nav {
  padding: 1rem;
  background-color: #f2f2f2;
  grid-row: nav;
  grid-column: sidebar/right-gutter;
}

nav ul {
  list-style: none;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.wrapper > div {
  background-color: #f2f2f2;
  padding: 1em;
}

.sidebar-1 {
  grid-row: main-1/main-2;
  grid-column: sidebar;
}

.sidebar-2 {
  grid-row: main-2/bottom-gutter;
  grid-column: sidebar;
}

.sidebar-2 .img-container {
  width: 180px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

.main-content {
  display: grid;
  grid-row: main-1/bottom-gutter;
  grid-column: main-content;
  grid-template-columns: [image] 7fr [bio] 8fr;
  grid-template-rows: [content-1] 1fr [content-2] 1fr [content-3] 1fr;
  grid-gap: 1.2rem;
}

.image-content {
  grid-row: content-1/bottom-gutter;
  grid-column: image;
}

.image-content .img-container {
  width: 250px;
  margin: 0 auto;
}

.image-content img{
   border-radius: 50%;
}

.bio-content-1 {
  grid-row: content-1/content-2;
  grid-column: bio;
}

.bio-content-2 {
  grid-row: content-2/content-3;
  grid-column: bio;
}

.bio-content-3 {
  grid-row: content-3/span 2;
  grid-column: bio;
}


@media (min-width: 768px){
    nav ul{
        font-size: 1.3rem;
    }
}